* {outline: none;}
body {
    height: 100%;
    background: url('../images/admin-logo-bg.png') no-repeat center fixed;
    /*
    background: #3023ae;
    background: -moz-linear-gradient(-45deg, #3023ae 0%, #c86dd7 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3023ae), color-stop(100%,#c86dd7));
    background: -webkit-linear-gradient(-45deg, #3023ae 0%,#c86dd7 100%);
    background: -o-linear-gradient(-45deg, #3023ae 0%,#c86dd7 100%);
    background: -ms-linear-gradient(-45deg, #3023ae 0%,#c86dd7 100%);
    background: linear-gradient(135deg, #3023ae 0%,#c86dd7 100%);
    background-attachment: fixed;
    */
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}
.admin_login {
    width: 310px;
    height: auto;
    padding: 10px 25px 10px 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*box-shadow: 0 -1px 10px #6898D8;*/
    /*border-radius: 5px;*/
    /*background-color: rgba(183, 205, 242, 0.5);*/
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255,255,255,.3);
    -moz-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.admin_login .admin_login_title {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    margin: 10px 0 15px 0;
}
.admin_login .admin_login_title strong {
    display: block;
}
.admin_login .admin_login_title em {
    display: block;
    font-size: 12px;
    margin-top: 8px;
}
.admin_login .admin_login_row {
    /*margin:5px 0;height:42px;overflow:hidden;position:relative;*/
    /*margin-bottom: 15px;*/
    margin-bottom:10px;
}
input[type=text], input[type=password], .admin_login_code input {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 95%;
    text-indent: 0;
    background: #ffffff;
    color: #333333;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
}
input::-moz-placeholder {
    color: #ffffff;
}
input::-webkit-input-placeholder {
    color: #999;
}
input:-ms-input-placeholder {
    color: #ffffff;
}
.admin_login_code {
    float: left;
    width: 185px;
    height: 42px;
    border-radius: 4px;
}
.admin_login_code_row {
    margin: 5px 0;
    height: 42px;
    overflow: hidden;
    position: relative;
}
.admin_login_verify_code {
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    border: none;
    height: 42px;
    width: 113px;
    line-height: 42px;
    z-index: 1;
    position: relative;
    float: right;
    background: #ffffff;
    border-radius: 4px;
    overflow: hidden;
}
.admin_login .admin_login_btn .submit_btn {
    width: 100%;
    height: 42px;
    font-size: 16px;
    /*border: 1px solid rgba(0, 170, 238, 0.4);*/
    /*background: rgba(183, 205, 242, 0.5);*/
    /*background: rgba(57,174,245,0.4); */
    border: 1px solid rgba(48,35,174, 0.4);
    background: rgba(48,35,174,0.4);
    color: #f8f8f8;
    border-radius: 4px;
    outline: none;
}
.admin_login .admin_login_btn .submit_btn:hover {
    /*background: #0ae;*/
    background: rgba(183, 205, 242, 0.6);
    color: #f4f4f4;
}
.admin_login .admin_login_copy p {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    margin: 5px 0;
}
.admin_login_error {
    font-size: 14px;
    clear: both;
    color: #a94442;
    height: 25px;
    line-height: 25px;
}
.clearFix:after{
    display: block;
    content: ".";
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}