{extend name="layout/main"}
{block name="plugins"}
<link href="{__HOME_TEMPLATES__}css/index.css" rel="stylesheet"/>
<link href="{__STATIC__}plugins/element/element.css" rel="stylesheet"/>
<script src="{__STATIC__}plugins/element/element.js"></script>
{/block}

{block name="content"}
<div id="app">
    <div class="banner">
        <el-carousel ref="carousel" @click.native="go">
            <el-carousel-item v-for="item in ad" :key="item">
                <img :src="item.image_path" alt="item.name">
                <div class="carousel_name">{{item.name}}</div>
            </el-carousel-item>
        </el-carousel>
    </div>

    <section>
        <div class="home-about clearFix">
            <div class="about-text">
                <h1>{{ about.name }}</h1>
                <div class="en_name">{{ about.en_name }}</div>
                <block v-for='(content,index) in about.content'>
                    <block v-if="index==0">
                        <block v-html="content.content"></block>
                        <a :href="'{:url('view')}?id='+content.id">查看更多</a>
                    </block>
                </block>
            </div>
            <div class="about-img">
                <img :src="about.file_path" alt="">
            </div>
        </div>
    </section>

    <div class="home-case">
        <section class="home-list clearFix">
            <div class="home-item-title">
                <h1>{{download.name}}</h1>
                <div class="en_name">{{download.en_name}}</div>
            </div>
            <ul class="home-img-list">
                <li v-for="item in download.content">
                    <a :href="'{:url('view')}?id='+item.id" class="image">
                        <img :src="item.images_path" :alt="item.title">
                    </a>
                    <p><a :href="'{:url('view')}?id='+item.id">{{item.title}}</a></p>
                </li>
            </ul>
        </section>
    </div>
    <section class="home-list clearFix">
        <div class="home-item-title">
            <h1>{{ news.name }}</h1>
            <div class="en_name">{{ news.en_name }}</div>
        </div>
        <ul class="home-news">
            <li v-for="item in news.content">
                <a :href="'{:url('view')}?id='+item.id" class="news-img">
                    <img :src="item.images_path" :alt="item.title">
                </a>
                <div class="home-news-txt">
                    <h3>
                        <a :href="'{:url('view')}?id='+item.id">{{item.title}}</a>
                    </h3>
                    <div>2018-12-24 11:12:00</div>
                    <p>{{ item.meta_description }}</p>
                </div>
            </li>
        </ul>
    </section>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            list: [],
            about: {},
            category: [],
            ad: [],
            download: [],
            news: []
        },
        created() {
            let self = this;
            //banner
            this.fetchData("{:url('api/index/getAd',['id'=>'5'])}").then(function (response) {
                if (response.status && response.status === 200) {
                    self.ad = response.data;
                }
            });
            //新闻
            this.fetchData("{:url('api/index/getNews')}").then(function (response) {
                if (response.status && response.status === 200) {
                    self.news = response.data;
                }
            });
            //关于我们
            this.fetchData("{:url('api/index/getAbout')}").then(function (response) {
                if (response.status && response.status === 200) {
                    self.about = response.data;
                }
            });
            //资料下载
            this.fetchData("{:url('api/index/getPic')}").then(function (response) {
                if (response.status && response.status === 200) {
                    self.download = response.data;
                }
            });
        },
        methods: {
            fetchData(url, method) {
                let self = this;
                return new Promise((resolve, reject) => {
                    axios({
                        method: method,
                        url: url,
                    }).then(function (response) {
                        //console.log(response);
                        resolve(response.data);
                    }).catch(function (error) {
                        reject(error)
                    });
                });
            },
            go: function () {
                let activeIndex = this.$refs.carousel.activeIndex;
                window.open(this.ad[activeIndex].link)
            }
        }
    });
</script>
<style>
    .el-carousel__container {
        height: 500px !important;
        z-index: -9;
    }

    @media screen and (max-width: 767px) {
        .el-carousel__container {
            height: 200px !important;
            z-index: -9;
        }
    }
</style>
{/block}


